---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-md-3">
        <p class="lead">{{ page.title }}</p>
        <div class="list-group">
            <a href="#General" class="list-group-item">General</a>
            <a href="#values" class="list-group-item">Values</a>
            <a href="#decision-making" class="list-group-item">Decision-making</a>
            <a href="#investments--budgets" class="list-group-item">Investments / Budgets</a>
            <a href="#conflict-resolution" class="list-group-item">Conflict Resolution</a>
            <a href="#roles--structure" class="list-group-item">Roles / Structure</a>
            <a href="#salary--bonuses" class="list-group-item">Salary / Bonuses</a>
            <a href="#performance-evaluation" class="list-group-item">Performance Evaluation</a>
            <a href="#hiring" class="list-group-item">Hiring</a>
            <a href="#firing" class="list-group-item">Firing</a>
            <a href="#vacation" class="list-group-item">Vacation</a>
            <a href="#information-flow" class="list-group-item">Information Flow</a>
            <a href="#personal-development" class="list-group-item">Personal Development</a>
        </div>
    </div>
    <div class="col-md-9">
      {{ content }}
    </div>
  </div>
</div>
